.footer {
  background: $footer__bg;
  text-align: right;
  font-family: $fonts-content;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17.5px 0;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    color: $black;
    margin: 0;
  }
}
