<div class="blog__box">
    <div class="blog__img_box"></div>
    <div class="blog__article">
      <h2 class="blog__title_box">Сегодня ходили в клуб заря</h2>
      <p class="blog__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi
        culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit
        tempore ducimus omnis deserunt adipisci inventore dicta consectetur...</p>
      <div class="blog__content_bottom">
        <a class="blog__link blog__link_news" href="#">перейти к новости</a>
        @@include('./data.html')
      </div> 
    </div>
  </div>